<center><h1> Empirical Assignment 2</h1></center>

**Author(s):**
1. Robin Fu (robin.fu@emory.edu)

**Objectives**: This <ins>assignment</ins> aims at
 1. Making students familiar with *data pre-processing* with the ```dplyr``` and ```tidyr``` R packages;
 2. Use *GitHub* to retrieve and submit computer code.

**Instructions**:
 1. Please write down your R code and <ins>execute</ins> it in the cell below each question.
 
<center><h2> Questions</h2></center>

1. Using the ```suppressWarnings``` function proceed to load the ```wooldridge```, ```dplyr```, and ```tidyr``` packages.

In [1]:
pcks <- c('wooldridge','dplyr','tidyr')
suppressWarnings(for (pck in pcks){
  if (!require(pck, character.only = TRUE)) install.packages(pck, character.only = TRUE)
  library(pck, character.only = TRUE) 
})

Loading required package: wooldridge

Loading required package: dplyr


Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Loading required package: tidyr

2. Use the following data set in the ```wooldridge``` package

```
LOWBRTH.DES

year      lowbrth   infmort   afdcprt   popul     pcinc     physic    afdcprc  
d90       lpcinc    cafdcprc  clpcinc   lphysic   clphysic  clowbrth  
cinfmort  afdcpay   afdcinc   lafdcpay  clafdcpy  cafdcinc  stateabb  state     beds     
bedspc    lbedspc   clbedspc  povrate   cpovrate  afdcpsq   cafdcpsq  
physicpc  lphypc    clphypc   lpopul    clpopul   

  Obs:   100

  1. year                     1987 or 1990
  2. lowbrth                  perc. births low weight
  3. infmort                  infant mortality rate
  4. afdcprt                  # participants in AFDC, 1000s
  5. popul                    population, 1000s
  6. pcinc                    per capita income, $
  7. physic                   Drs. per 100,000 population
  8. afdcprc                  percent of pop on AFDC
  9. d90                      =1 if year == 1990
 10. lpcinc                   log of pcinc
 11. cafdcprc                 change in afdcprc
 12. clpcinc                  change in lpcinc
 13. lphysic                  log of physic
 14. clphysic                 change in lphysic
 15. clowbrth                 change in lowbrth
 16. cinfmort                 change in infmort
 17. afdcpay                  avg monthly AFDC payment
 18. afdcinc                  afdcpay as % pcinc
 19. lafdcpay                 log of afdcpay
 20. clafdcpy                 change in lafdcpay
 21. cafdcinc                 change in afdcinc
 22. stateabb                 state postal code
 23. state                    name of state
 24. beds                     # hospital beds, 1000s
 25. bedspc                   beds per capita
 26. lbedspc                  log(bedspc)
 27. clbedspc                 change in lbedspc
 28. povrate                  % people below poverty line
 29. cpovrate                 change in povrate
 30. afdcpsq                  afdcper^2
 31. cafdcpsq                 change in afdcpsq
 32. physicpc                 physicians per capita
 33. lphypc                   log(physicpc)
 34. clphypc                  change in lphypc
 35. lpopul                   log(popul)
 36. clpopul                  change in lpopul
```

Create a set of dummies for each of the 50 states of the union listed in ```stateabb```. **Hint:** Read this post https://stackoverflow.com/questions/49276914/mutating-dummy-variables-in-dplyr?rq=1

In [10]:
data("lowbrth")
lowbrth_lc <- as_tibble(lowbrth)
attach(lowbrth_lc)
lowbrth_lc <- model.matrix(~ 0 + stateabb, lowbrth_lc) %>%
  as_tibble() %>%
  bind_cols(lowbrth_lc) %>%
  select(stateabb, everything())
detach(lowbrth_lc)

head(lowbrth_lc)

The following object is masked _by_ .GlobalEnv:

    lowbrth


The following object is masked from package:wooldridge:

    lowbrth

  stateabb stateabbAK stateabbAL stateabbAR stateabbAZ stateabbCA stateabbCO
1 AL       0          1          0          0          0          0
2 AL       0          1          0          0          0          0
3 AK       1          0          0          0          0          0
4 AK       1          0          0          0          0          0
5 AZ       0          0          0          1          0          0
6 AZ       0          0          0          1          0          0
  stateabbCT stateabbDE stateabbFL ... clbedspc    povrate cpovrate   afdcpsq
1 0          0          0          ...          NA 21.3            NA 10.446634
2 0          0          0          ... -0.01876736 19.2    -2.0999985 10.670140
3 0          0          0          ...          NA 12.0            NA 13.147544
4 0          0          0          ... -0.04842663 11.4    -0.6000004 19.041323
5 0          0          0          ...          NA 12.8            NA  7.163495
6 0          0          0          ... -0.08254385 13.7     0.8999996 15.437501
  cafdcpsq physicpc   lphypc    clphypc      lpopul   clpopul
1       NA 0.03697355 -3.297552           NA 8.314832          NA
2 0.223506 0.03909923 -3.241652  0.055899858 8.304248 -0.01058388
3       NA 0.26335877 -1.334238           NA 6.261492          NA
4 5.893779 0.26545453 -1.326312  0.007926345 6.309918  0.04842663
5       NA 0.05617647 -2.879257           NA 8.131531          NA
6 8.274006 0.05375171 -2.923380 -0.044122696 8.206584  0.07505322

3. Use the following data set in the ```wooldridge``` package

```
MROZ.DES

inlf      hours     kidslt6   kidsge6   age       educ      wage      repwage  
hushrs    husage    huseduc   huswage   faminc    mtr       motheduc  
fatheduc  unem      city      exper     nwifeinc  lwage     expersq   

  Obs:   753

  1. inlf                     =1 if in labor force, 1975
  2. hours                    hours worked, 1975
  3. kidslt6                  # kids < 6 years
  4. kidsge6                  # kids 6-18
  5. age                      woman's age in yrs
  6. educ                     years of schooling
  7. wage                     estimated wage from earns., hours
  8. repwage                  reported wage at interview in 1976
  9. hushrs                   hours worked by husband, 1975
 10. husage                   husband's age
 11. huseduc                  husband's years of schooling
 12. huswage                  husband's hourly wage, 1975
 13. faminc                   family income, 1975
 14. mtr                      fed. marginal tax rate facing woman
 15. motheduc                 mother's years of schooling
 16. fatheduc                 father's years of schooling
 17. unem                     unem. rate in county of resid.
 18. city                     =1 if live in SMSA
 19. exper                    actual labor mkt exper
 20. nwifeinc                 (faminc - wage*hours)/1000
 21. lwage                    log(wage)
 22. expersq                  exper^2
```

Proceed to _impute_ the median value of ```lwage``` for the missing values. **Hint:** Read this post https://towardsdatascience.com/data-cleaning-with-r-and-the-tidyverse-detecting-missing-values-ea23c519bc62

In [3]:
data("mroz")
mroz_lc <- as_tibble(mroz)

attach(mroz_lc)
mroz_lc <- mroz_lc %>%
  mutate(lwage
         = replace(lwage,
                   is.na(lwage),
                   median(lwage, na.rm = TRUE)))
detach(mroz_lc)

#Check to see if missing values were successfully imputed
mroz_lc %>%
  summarise(na = sum(is.na(lwage)), distinct = n_distinct(lwage))

  na distinct
1 0  374

You are told that a better _imputation technique_ would be to impute the average ```lwage``` depending on the variables ```kidslt6``` and ```kidsge6```. For example, individual 429 in the sample is not working for wages, so there is a ```NA``` as her value for ```lwage```. However, this woman reports ```kidslt6=0``` and ```kidsge6=1```. Among the first 428 individuals in the sample there are 91 women with no kids below the age of 6 and just one child age 6 or above. The average ```lwage``` among these 91 women is 1.27520132007507. Therefore you proceed to impute 1.27520132007507 as the value for the missing ```lwage``` for individual 429. Do the same for _all_ the other individuals with ```NA``` as the values for ```lwage```. Print the sample average of the resulting 753 values in ```lwage```. **Note:** If the combination of ```kidslt6``` and ```kidsge6``` among the individuals with missing ```lwage``` does not exist among the 428 complete cases, simply impute the sample average among the 428 complete cases.

In [4]:
#Cakculate mean lwage among 428 complete cases
lwage_mean = mean(unlist(mroz_lc["lwage"]), na.rm = TRUE)

#Impute values for existing combinations of kidslt6 and kidsge6
mroz_means <- mroz_lc %>%
  group_by(kidslt6, kidsge6)%>%
  mutate(lwage = replace(lwage, is.na(lwage), mean(lwage, na.rm = TRUE)))

#Impute values for nonexistent combinations with sample lwage mean
mroz_means <- mroz_means %>% mutate(lwage = replace_na(lwage, lwage_mean))

#Report number of NA valus and sample average of resulting 753 lwage values
ungroup(mroz_means) %>%
  summarise(num_na = sum(is.na(lwage)), mean = mean(lwage))

  num_na mean
1 0      1.214948